<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Vineet Kumar</title>
<!-- http://flatheme.net/demo/gentleman/ -->
<link type="text/css" href="../static/style/xcenter.css"
	th:href="@{/style/main.css}" rel="stylesheet" media="screen" />


<link type="text/css" href="../static/style/font-awesome.min.css"
	th:href="@{/style/font-awesome.min.css}" rel="stylesheet"
	media="screen" />



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />



<link type="text/css" href="../static/style/theme.min.css"
	th:href="@{/style/theme.min.css}" rel="stylesheet" media="screen" />
<link type="text/css" href="../static/style/responsive.min.css"
	th:href="@{/style/responsive.min.css}" rel="stylesheet" media="screen" />

</head>
<body>

	<div th:replace="fragments/header :: header"></div>

	<section id="home" class="fill">
		<div class="home-background parallax-section"
			style="background-position: center 0px;">
			<div class="container-fluid">
				<div class="row">
					<div class="home-box col-xs-12">
						<div>
							<img src="images/author.jpg" alt="" />
							<h1>Vineet Kumar</h1>
							<p>Web Developer</p>
						</div>
						<div class="social">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
	</section>

	<section id="education">
		<div class="container-fluid">
			<div class="row">
				<div class="section-background col-xs-12 col-sm-6"
					data-mh="match-edu" style="height: 649px;">
					<h2>Education</h2>
					<ul class="resume-box">
						<li>
							<div class="year" data-mh="match-edu-box-1"
								style="height: 124px;">
								<div>
									<h4>2009-2012</h4>
									<span>Master Degree</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-edu-box-1"
								style="height: 124px;">
								<h4>SASTRA University</h4>
								<p>Complete Master of Computer Applications</p>
							</div>
						</li>
						<li>
							<div class="year" data-mh="match-edu-box-2"
								style="height: 124px;">
								<div>
									<h4>2005-2008</h4>
									<span>Bachelor Degree</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-edu-box-2"
								style="height: 124px;">
								<h4>Sikkim Manipal University</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>
							</div>
						</li>
						<li>
							<div class="year" data-mh="match-edu-box-3"
								style="height: 124px;">
								<div>
									<h4>2002-2005</h4>
									<span>10+2</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-edu-box-3"
								style="height: 124px;">
								<h4>S.N. Sinha College</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- Skills -->
				<div class="skills-background col-xs-12 col-sm-6"
					data-mh="match-edu" style="height: 649px;">
					<div class="black-layer">
						<div class="middle-content">
							<!-- Skill 1 -->
							<div class="skill-bar">
								<div style="display: inline; width: 100px; height: 100px;">
									<canvas width="100" height="100"></canvas>
									<input type="text" value="0" data-number="90" class="dial"
										readonly="readonly"
										style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-style: normal; font-variant: normal; font-weight: 300; font-stretch: normal; font-size: 20px; line-height: normal; font-family: &amp; quot; Open Sans&amp;quot;; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;" />
								</div>
								<h4>HTML5</h4>
							</div>
							<!-- Skill 2 -->
							<div class="skill-bar">
								<div style="display: inline; width: 100px; height: 100px;">
									<canvas width="100" height="100"></canvas>
									<input type="text" value="0" data-number="75" class="dial"
										readonly="readonly"
										style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-style: normal; font-variant: normal; font-weight: 300; font-stretch: normal; font-size: 20px; line-height: normal; font-family: &amp; quot; Open Sans&amp;quot;; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;" />
								</div>
								<h4>PHP</h4>
							</div>
							<!-- Skill 3 -->
							<div class="skill-bar">
								<div style="display: inline; width: 100px; height: 100px;">
									<canvas width="100" height="100"></canvas>
									<input type="text" value="0" data-number="90" class="dial"
										readonly="readonly"
										style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-style: normal; font-variant: normal; font-weight: 300; font-stretch: normal; font-size: 20px; line-height: normal; font-family: &amp; quot; Open Sans&amp;quot;; text-align: center; color: rgb(255, 255, 255); padding: 0px; -webkit-appearance: none; background: none;" />
								</div>
								<h4>CSS3</h4>
							</div>
							<!-- end Skill 3 -->
						</div>
					</div>
				</div>
				<!-- end Skills -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</section>


	<section id="experience">
		<div class="container-fluid">
			<div class="row">
				<div class="section-background col-xs-12 col-sm-6 col-sm-push-6"
					data-mh="match-experience" style="height: 649px;">
					<h2>Experience</h2>
					<ul class="resume-box">
						<li>
							<div class="year" data-mh="match-exp-box-1"
								style="height: 124px;">
								<div>
									<h4>2013-2015</h4>
									<span>ThemeForest</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-exp-box-1"
								style="height: 124px;">
								<h4>Front-End Developer</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>
							</div>
						</li>
						<li>
							<div class="year" data-mh="match-exp-box-2"
								style="height: 124px;">
								<div>
									<h4>2011-2013</h4>
									<span>PhotoDune</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-exp-box-2"
								style="height: 124px;">
								<h4>Photographer</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>
							</div>
						</li>
						<li>
							<div class="year" data-mh="match-exp-box-3"
								style="height: 124px;">
								<div>
									<h4>2009-2011</h4>
									<span>GraphicRiver</span>
								</div>
							</div>
							<div class="box-content" data-mh="match-exp-box-3"
								style="height: 124px;">
								<h4>Graphic Designer</h4>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
									Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
									natoque penatibus et magnis dis parturient montes, nascetur
									ridiculus mus.</p>
							</div>
						</li>
					</ul>
				</div>
				<!-- Hire me -->
				<div class="hire-background col-xs-12 col-sm-6 col-sm-pull-6"
					data-mh="match-experience" style="height: 649px;">
					<div class="white-layer">
						<div class="middle-content">
							<p>I'm Looking for a job</p>
							<a href="#contact">Hire me</a>
						</div>
					</div>
				</div>
				<!-- end Hire me -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</section>
	
	<section id="contact">
      <div class="container-fluid">
        <div class="row">
          <div class="section-background col-xs-12 col-sm-6 col-sm-push-3" data-mh="match-contact" style="height: 600px;">
            <h2>Get In Touch</h2>
            <ul class="info">
              <li>
                <i class="fa fa-map-marker"></i>
                <span>Doddakamanahalli Main</span>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <span>sonuviz@live.com</span>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <span>+919910375511</span>
              </li>
            </ul>
            <form method="post" id="contactform">
              <div class="input-style">
                <input type="text" id="name" name="name" placeholder="Name" />
              </div>
              <div class="input-style">
                <input type="email" id="email" name="email" placeholder="E-Mail" />
              </div>
              <div class="text-style">
                <textarea name="message" id="message" placeholder="Message"></textarea>
              </div>
              <input type="submit" id="submit" class="submit-style" name="submit" value="Send Message" />
              <div class="submit-result">
                <p id="success">Your Message has been sent!</p>
                <p id="error">Something went wrong, go back and try again!</p>
              </div>
            </form>
          </div>
          
        </div><!-- end row -->
      </div><!-- end container -->
    </section>


	<div th:replace="fragments/script :: script"></div>
</body>
</html>